#main-container{
    background-color: #56042C;
}

nav{
    padding: 20px;
    background-color: #56042C;
}

#navbar-title{
    color: white;
}

#nav-option{
    color: azure;
}

#nav-option:hover{
    color: gray;
}