#main-container{
    background-color: #56042C;
}

nav{
    padding: 20px;
    background-color: #56042C;
    margin-bottom: 20px;
}

#navbar-title{
    color: white;
}

#nav-option{
    color: azure;
}

#nav-option:hover{
    color: gray;
}

#btn-apply-prediction{
    background-color: #56042C;
    color: white;
}

#btn-apply-prediction:hover{
    background-color: greenyellow;
    color: black;
}

#thead-score-table{
    background-color: #56042C;
    color: white;
}